version: '2'
services:
  mysql:
    restart: always
    image: mysql:8.0
    container_name: mysql
    ports:
      - "${MYSQL_PORT}:3306"
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_ROOT_PASSWORD=$ROOT_PASSWORD
      - TZ=Asia/Seoul
    volumes:
      - $VOLUME_DIR:/var/lib/mysql

  adminer:
    restart: always
    image: adminer
    ports:
      - "${ADMINER_PORT}:8080"
